
<%= javascript_include_tag('jquery-1.10.2.js') %>
<%= javascript_include_tag('bootstrap.js') %>
 <%= stylesheet_link_tag 'font-awesome/css/font-awesome.min.css' %>
 <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' %>

 
   <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>BuddyBench</h1>
                        <h3>Feeling alone? Join us on the BuddyBench</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li><a href="https://twitter.com/buddybenchco" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li><a href="https://www.facebook.com/buddybenchco" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Anonymous
                    <p class="lead">Protect your identification <br><br> "Speak without fear" </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../img/anonymous.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Quick & Easy
                    <p class="lead">Instant online access <br> <br>"Striking balance in all aspects of life: social,physical, spiritual, academical & mental"</p>
               </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="../img/time.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                   <h2 class="section-heading">Safe Place
                    <p class="lead">No barriers to engagement  <br><br>"Going against societal prejucide that prevent people in need from speaking up or seeking help"</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../img/safe_place.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner">

        <div class="container">

            <div class="subscribe">
                <h2>Subscribe Now!:</h2>
                <div class="col-lg-6">
                    
                    
                    <%= form_for @subscriber do |f| %>
                    Email : <%= f.text_field :email, :class=> "form-control", :placeholder=>'myemail@email.com'%>
                    <%= button_tag "Submit", :class=> "btn btn-default" %>
                    <% end %>
                   
                </div>
                
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   
                    <p class="copyright text-muted small">Copyright &copy; BuddyBench 2013. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>



